body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn {
    display: inline-block;
    border: 1px solid;
    border-radius: 3px;
    text-decoration: none;
    padding: 3px 5px;
    font-size: 16px;
}

.btn:visited {
    text-decoration: none;
}

.btn-default {
    color: #000000;
    border-color: #c8c8c8;
    background: #fafafa;
}

.btn-default:hover {
    border-color: #aaaaaa;
    background: #e6e6e6;
}

.btn-default:visited {
    color: #000000;
}

.btn-success {
    color: #000000;
    border-color: #64be46;
    background: #6ec846;
}

.btn-success:hover {
    border-color: #4f9341;
    background: #5aa03c;
}

.btn-success:visited {
    color: #000000;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 3px;
}

.form-group .form-control {
    display: inline-block;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    padding: 3px 5px;
    font-size: 14px;
}

.menu {
    display: block;
    padding: 0;
    margin: 0;
}

.menu-item {
    display: inline-block;
    margin: 0;
    padding: 3px 5px;
    list-style: none;
}

.top-actions {
    position: relative;
    margin-bottom: 20px;
}

.top-actions:before, .top-actions:after {
    display: table;
    content: " ";
    box-sizing: border-box;
}

.top-actions:after {
    clear: both;
}

.top-actions .btn {
    float: right;
}

.table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.table thead {
    text-align: left;
    border-bottom: 2px double #e6e6e6;
}

.table tbody tr {
    text-align: left;
    border-bottom: 1px double #e6e6e6;
}
